@import '/tmp/ags/scss/generated';
@import './common';
@import './widgets/notifications';
@import './widgets/media';
@import './widgets/quicksettings';
@import './widgets/powermenu';
@import './widgets/overview';
@import './widgets/desktop';
@import './widgets/dashboard';
@import './widgets/bar';
@import './widgets/settings';
@import '/tmp/ags/scss/additional';
